@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #101828;
  font-family: 'Inter', sans-serif;
}

main {
  width: 90%;
  margin: 0px auto;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}

#slack {
  display: none;
}

.icons {
  display: flex;
  justify-content: right;
}

.icons img {
  padding: 5px;
}

.dot {
  display: none;
}

section {
  margin-top: 1rem;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
}

.profile {
  margin-top: 3rem;
}

.profile img {
  border-radius: 50%;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul li a {
  display: block;
  width: 100%;
  margin: 10px 0px;
  padding: 15px;
  background-color: #EAECF0;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  color: #101828;
}


ul li a:hover {
  background-color: #D0D5DD;
  transition: 0.5s;
  cursor: pointer;
}

.icon {
  margin-top: 2rem;
}

.icon img {
  margin: 10px;
}

.icon img:hover {
  opacity: 0.6;
  cursor: pointer;
}

hr {
  width: 95%;
  margin: 0px auto;
  opacity: 0.7;
  margin-top: 4rem;
}

.footer {
  display: flex;
  width: 95%;
  margin: 0px auto;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: center;
}

.footer h5 {
  color: #10182852;
}

.tooltip {
  position: relative;
  display: block;
  float: right;
  padding: 1rem;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 110%;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media only screen and (max-width: 600px) {
  .share {
    display: none;
  }

  .dot {
    display: block;
  }

  .footer {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }

  main {
    width: 100%;

  }
}